@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE va Edge */
  scrollbar-width: none;     /* Firefox */
}



.pdg{
  padding: 30px 10%;
}
